:root {
    --primary: #021523;
    --danger: #EF5734;
    --grey: #8E8E8E;
    --white: #FFFFFF;
}

* {

    ::before,
    ::after {
        box-sizing: border-box;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}